[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "~=4.2"
djangorestframework = "~=3.14.0"
python-dotenv = "*"
drf-spectacular = {extras = ["sidecar"], version = "*"}

[dev-packages]

[requires]
python_version = "3.12"
